* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

body {
  font-size: 15px;
  background: $very-light-grayish-blue;
  text-align: center;
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% 30%;
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  margin-top: 4rem;
  color: $grayish-blue;
}

.toggle-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  color: $light-grayish-blue;
  font-size: 0.9rem;

  p {
    margin: 0 1.5rem;
  }
}

.toggle {
  position: relative;
  width: 50px;
  height: 28px;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
}

.toggle-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  background: white;
  top: 4px;
  right: 4px;
  border-radius: 50%;
  transition: transform 0.5s;
}

.cards-wrapper {
  margin: 5rem 1.5rem;
  max-width: 500px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 15px 0 rgba($color: #000000, $alpha: 0.1);

  h2 {
    color: $grayish-blue;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 1px;
  }

  p:first-of-type {
    margin-top: 1.5rem;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }

  p {
    color: $grayish-blue;
    font-size: 0.9rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }

  button {
    margin-top: 2rem;
    width: 100%;
    background: linear-gradient(
      90deg,
      hsl(236, 72%, 79%) 0%,
      hsl(237, 63%, 64%) 100%
    );
    border-radius: 5px;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  }
}

.pro {
  background: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );

  .price-wrapper {
    color: white;
  }

  h2 {
    color: white;
  }

  p:first-of-type {
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  }

  p {
    color: white;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  }

  button {
    background: white;
    color: hsl(237, 63%, 64%);
  }
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: $dark-grayish-blue;

  span {
    font-size: 2rem;
    margin-right: 0.5rem;
  }

  .price {
    font-size: 4rem;
    margin: 0;
  }
}

@media screen and (min-width: 548px) {
  .cards-wrapper {
    margin: 5rem auto;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-position: top right, bottom left;
    background-size: unset;
  }

  .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 5rem 1.5rem;
    margin-bottom: 0;
  }

  .card {
    width: 33.3%;
    margin-bottom: 0;
  }

  .pro {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1148px) {
  .cards-wrapper {
    margin: 5rem auto;
    margin-bottom: 0;
  }
}
